
*{ margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
}

body{

    background: url(fundo.jpg);
}
@font-face {
    font-family: 'delinda';
    src: url('Delinda Agatha.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}
.cabe{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    border-top: 0.6px solid rgb(230, 234, 241);
    border-bottom: 0.6px solid rgb(230, 234, 241);
    margin-bottom: 5px;
    background-color: rgb(83, 83, 81);
}
.me{ display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 10px;
    text-align: center;
    align-items: center;
    border-bottom: 0.6px solid rgb(230, 234, 241);

}
.parteum{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 100px;
    

}
.partedois{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 100px;
    
}

.imagem1{
   max-width: 200px;
   max-height: 200px;
    border-style: dotted;
    border-width: 1PX;

}
.frase{
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 10px;
}